{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid col-10">
    <div class="row text-center">
{% for voitures in marques.voitures %}
{% set url = path("ventes_show",{'slug':voitures.slug}) %}

    <div class="col-md-3 text-white">
        <div class="card bg-dark mb-3">
            <div class="card-header text-center">


                <h3>{{voitures.Marque.nom}}</h3>



            </div>
            <img src="../images/coverimg/{{voitures.coverImg}}" class="rounded mx-auto d-block" width="350" height="200"
                alt="Image de l'voiture" class="starsimg">
            <div class="card-body">
                <div class="card-title text-center">
                    modele : <h4>{{voitures.modele}}</h4>
                </div>
                <p class="card-text">
                    <p>KM :{{voitures.km}}</p>
                    <p>Puissance : {{voitures.puissance}}</p>
                    <p>Carburant : {{voitures.carburant}}</p>
                    <p>Année : {{voitures.anneeCirculation | date('d/m/Y')}}</p>
                    <p>Prix : {{voitures.prix}} €</p>
                </p>
                <div class="text-center">
                    <a href="{{url}}" class="btn btn-secondary">Découvrire la voiture</a>
                </div>
            </div>
        </div>
    </div>


    {% endfor %}
</div>
</div>




    {% endblock %}